$color-accent: #ffd95b;
$color-dark: #2e282a;
$color-gray: #e1e9e3;

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  gap: 30px;

  &__button {
    background-color: $color-accent;
    font-size: 1.5rem;
    width: 100%;
    min-height: 75px;
    border-radius: 10px;
  }

  &__button:disabled {
    background-color: #fff;
    color: inherit;
    cursor: auto;
  }
}

@media (max-width: 980px) {
  .pagination {
    flex-direction: column;
    gap: 15px;
    &__button {
      width: 100%;
    }
  }
}
