$color-accent: #ffd95b;
$color-dark: #2e282a;
$color-gray: #e1e9e3;

.loader {
  position: relative;
  top: 0;
  left: 0;
  margin: 300px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 2.5rem;
    margin: 20px;
  }

  &__content {
    width: 140px;
    height: 140px;
    border: 15px solid $color-dark;
    border-bottom-color: $color-accent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .loader {
    margin: 100px auto;
  }
}

@media (max-width: 980px) {
  .loader {
    margin: 100px auto;
  }
}
