$padding: 20px;

.container {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}

.main {
  padding: $padding;
}

.loader {
  text-align: center;
  align-items: center;
  justify-content: center;
}
