$color-accent: #ffd95b;
$color-dark: #2e282a;

.menu {
  background-color: $color-dark;
  min-height: 100vh;
  position: sticky;
  top: 0;

  &__list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    padding: 20px 15px;
    width: 200px;
    text-align: left;
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px $color-accent;

    border: 1px solid $color-dark;
  }

  &__button:active {
    border: 1px solid $color-accent;
    color: $color-accent;
  }
}
